body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:17px;
  background-color: #f2f4c0;
}

header {
  text-align: center;
  background-color: #CAD315;
}

footer {
  background-color: #CAD315;
  text-align: center;
}

h1 {
  color: #ffc;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: #D37815
}

#sidebar {
  background-color: #e4e978;
}

#contents {
  background-color: #e4e978;
}

a {
  color: #D37815
}
